COMPOSE_PROJECT_NAME=rps-rps_dev
JWT_SECRET=replace-me
DB_HOST=postgres
DB_PORT=5432
DB_USER=rps_user
DB_PASSWORD=replace-me
DB_NAME=rps_db
DB_SYNCHRONIZE=false
DB_LOGGING=false
AUTH_DISABLED=false
ADMIN_ALLOWED_EMAILS=
ADMIN_BOOTSTRAP_EMAILS=
ADMIN_BOOTSTRAP_PASSWORD=
ALLOWED_REGISTRATION_DOMAINS=localhost.local
SWAGGER_ENABLED=true
SWAGGER_PATH=api-docs
LOG_LEVEL=info
NEXT_PUBLIC_API_URL=http://your-domain-or-ip/backend-api
NEXT_PUBLIC_APP_URL=http://your-domain-or-ip
NEXT_PUBLIC_STRAPI_URL=
STRAPI_API_TOKEN=
NEXT_PUBLIC_BACKEND_MODE=real
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=replace-me
N8N_ENCRYPTION_KEY=replace-me
N8N_BASE_URL=http://n8n:5678/n8n
N8N_WEBHOOK_URL=http://n8n:5678/n8n
N8N_WEBHOOK_PATH=/webhook/sondage-rps-solutions-tech
N8N_INVITATION_WEBHOOK_URL=
N8N_INVITATION_WEBHOOK_PATH=/webhook/send-survey-invitations
N8N_HEALTH_REQUIRED=false
N8N_EDITOR_BASE_URL=http://your-domain-or-ip/n8n/
WEBHOOK_URL=http://your-domain-or-ip/n8n/
APP_URL=http://your-domain-or-ip
